.row {
  display: flex;
}

.column2 {
  flex: 50%;
}

.column3 {
  flex: 50%;
  text-align: center;
}

.column {
  flex: 50%;
  border-style: solid;
  border-color: black;
  padding: 1rem;
}

.box {
  float: left;
  height: 10px;
  width: 50px;
  margin-bottom: 5px;
  clear: both;
  margin-right: 0.2rem;
}

.yellow {
  background-color: #f5c63e;
}

.red {
  background-color: #d71e05;
}

.orange {
  background-color: #d17905;
}

.lightRed {
  background-color: #f05b4f;
}

.textStyle {
  font-size: smaller;
  margin-bottom: 5px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.renewable {
  background-color: lightgreen;
  opacity: 0.8;
}

.air {
  background-color: lightskyblue;
  opacity: 0.8;
}

.weather {
  background-color: lightcoral;
  opacity: 0.8;
}

.renewable-alert {
  background-color: lightgreen;
  opacity: 0.8;
}

.air-alert {
  background-color: lightskyblue;
  opacity: 0.8;
}

.weather-alert {
  background-color: lightcoral;
  opacity: 0.8;
}
